[Unit]
Description=Clientes static site (Python http.server)
After=network.target

[Service]
Type=simple
# Executa como root (porta 80 exige privilégio)
User=root
Group=root
WorkingDirectory=/home/ssm-user/dist-clientes/dist-clientes


# Servir os arquivos React na porta 80
ExecStart=/usr/bin/python3 -m http.server 80 --directory /home/ssm-user/dist-clientes/dist-clientes --bind 0.0.0.0
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target